<p id="notice"><%= notice %></p>

<p>
  <strong>Chatroom:</strong>
  <%= @chatroom.name %>
</p>
<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
  <% @chatroom.messages.each do |message|%>
    <%= render message %>
  <% end %>
</div>

<%= simple_form_for [@chatroom, Message.new], remote: true do |f| %>
  <%= f.input :body, class: "form-control", autofocus: true %>
<% end %>
